body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;

    background-image: linear-gradient(90deg, #E96433, #904E95);
    margin : 0;
}

section{
    margin: 0;
    border-radius: 4px;
    background-image: linear-gradient(45deg, rgba(00,242,96,0.3),rgba(5,117,230,0.3));
    
    padding : 10px;
    width: 400px;
    height: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
    
    box-shadow: 0 0 10px #00ffab;
}

select#secondary{
    display: none;
}

select{
    font-size: 1.1em;
    margin: 5px 0px;
    width: 240px;
    height: 50px;
    border-radius: 4px;
}