<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nav menu</title>

    <link rel="stylesheet" href="task2.css">
    <!-- <script src="app.js"></script> -->
    <script src="angular.min.js"></script>
</head>
<body ng-app="">
    <section ng-init='item_sel = "home"'>
        <ul>
            <li ng-click='item_sel = "home"'>HOME</li>
            <li ng-click='item_sel = "projects"'>PROJECTS</li>
            <li ng-click='item_sel = "services"'>SERVICES</li>
            <li ng-click='item_sel = "contact"'>CONTACT</li>
        </ul>
        <p>👨‍🏫 You Chose <span>{{item_sel}}</span></p>            
    </section>
</body>
</html>