body{
    background-image: linear-gradient(90deg, #7BC6CC,#BE93C5 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section#cards{
    display: grid;
    grid-template-columns : repeat(3, 400px);
    grid-template-rows : repeat(2, 350px);
}
section#cards > div {
    display: flex;
}
img{
    width: 100%;
}
article{
    padding: 5px;
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.1);
}
#labels{
    margin: 5px 0px;
    display: flex;
    text-align: center;
}
label{
    flex-grow: 1;
}
*{
    margin: 0;
}