body{
    display: flex;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#cont{
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px #aaaaaa; */
    background-color: rgba(0, 0, 0, 0.1);
}
#map {
    height: 400px;
    width: 800px;
}
h3, p{
    margin: 0;
    font-size: 25px;
    /* color: steelblue; */
}
