@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body{
    margin:0;
    color:white;
    font-weight: bold;
    font-family: 'Open-Sans', sans-serif;
}
#nav{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr 2fr;
}
#fst{
    grid-column: 2/3;
}
a{
    background-color: black;
    text-decoration: none;
    color:white;
    padding:10px;
}
#main-con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
#sec-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px 10px;
}
.col_1st{
    background-color: #247BA0;
    grid-column: 1/2;
    grid-row: 1/2;
}
.col_2nd{
    background-color:#0053C9;
}
.pad{
    padding : 20px;
}
p{
    width:400px;
    height:400px;
}
@media screen and (max-width:1500px){
    #main-con{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:900px){
    #nav{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    #fst{
        grid-column: 1/2;
    }
}
@media screen and (max-width:600px){
    #sec-con{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }


}