body{
    margin:0;
}
#con1{
    /* width:100%; */
    height: 500px;
    background-color: #d4d4d4;
    column-count: 2;
    column-width:200px;
    /* -webkit-column-span: none; */
    /* column-span: none; */
    /* margin:0px; */
}
.col_1st{
    /* width:50%; */
    /* height:400px; */
    width:200px;
    height: 200px;
    background-color: aqua;
    margin:10px;
    box-shadow: 2px 2px 4px grey;
    /* column-span: none; */
}
.col_2nd{
    background-color:burlywood;
    /* width:50%; */
    /* display:inline-block; */
}