#main{
    margin : 0 auto;
    display: -webkit-flex;
    flex-direction: row;
}
#tags{
    text-align: center;
    flex-direction: row;
    padding:2em 3em;
    line-height: 2em;
}
div a{
    text-decoration: none;
    color: #e81c4f;
}
div iframe{
    width : 1000px;
    height: 800px;
}